
.content-vidio{
    width: 100%;
    height: auto;
    padding-top: 1rem;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    padding-top: 7rem;
}
.content-vidio video{
    width:100%;
    height: auto;
    border: 1px;
    border-radius: 20px;
}

.slideshow-container.fade{
    padding-top: 3rem;
    border: 1px;
    border-radius: 50rem;
}

.Containers img {
    width: 90%;
    height: auto;
    overflow: hidden;
    border: 1px;
    border-radius: 20px;
 }

